@use '@stylesFunction/mixins' as *;
@use "@stylesFunction/index" as *;

$testesAtivos: false;

.main_container {
    width: auto;
    display: flex;
    width: fit-content;

    .title {
        font-size: px-para-rem(18px);
        font-weight: 600;
        text-align: center;


        @include laptop {
            font-size: px-para-rem(17px);
            padding: unset;
        }
    }

    .items_container {
        display: flex;
        gap: px-para-rem(10px);
    }

    .item_container {
        min-height: px-para-rem(110px);
        min-width: px-para-rem(100px);
        display: flex;
        flex-direction: column;
        gap: px-para-rem(6px);
        justify-content: center;
        align-items: center;
        padding: 5px;

        border-radius: px-para-rem(14px);
        box-shadow: px-para-rem(8px) px-para-rem(4px) px-para-rem(8px) rgba(0, 0, 0, 0.2);
        overflow: hidden;

    }


    .title_item {
        font-size: px-para-rem(14px);
        white-space: nowrap;
        text-align: center;
        background-color: whitesmoke;
    }




}