@use '@stylesFunction/mixins' as *;
@use "@stylesFunction/index" as *;

$testesAtivos: false;

.main_container {
  width: 30vw;
  height: alturaResponsivaViewport(91);
  border-radius: px-para-rem(20px);
  display: grid;
  grid-template-rows: 0.2fr 0.7fr 0.2fr 0.9fr 0.2fr;
  gap: px-para-rem(10px);
  overflow-y: auto;

  @include laptop {
    width: 35vw;
    grid-template-rows: 0.2fr 0.8fr 0.4fr 0.9fr 0.2fr;

  }

  .menu_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .title_small {
    width: 75%;
    max-height: 98%;
    text-align: center;
    font-size: px-para-rem(19.5px);
    font-weight: 800;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;


    @include laptop {
      font-size: px-para-rem(19px);
    }

  }

  .title {
    font-size: px-para-rem(27px);
    font-weight: 800;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    overflow: hidden;


    @include laptop {
      font-size: px-para-rem(10px);
    }


  }

  .close_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    margin-right: px-para-rem(24px);
    width: px-para-rem(30px);
    height: px-para-rem(30px);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: px-para-rem(20px);
    color: if($testesAtivos, hsl(342.12 100% 50%), #e65100);
    transition: background-color 0.2s;
  }

  .menu_image_container {
    position: relative;
    overflow: hidden;
  }

  .img_complemento {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .description {
    padding: px-para-rem(20px);
    font-size: px-para-rem(17px);
    white-space: unset;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;

    @include laptop {
      font-size: px-para-rem(16px);
    }

    span {
      font-size: px-para-rem(19px);
      font-weight: bold;

      @include laptop {
        font-size: px-para-rem(16px);
      }

    }
  }

  .menu_steps_wrapper {
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    padding: px-para-rem(20px);

    @include custom-scrollbar;

    @include mobile {
      @include custom-scrollbar(unset);
    }
  }

  .menu_step_content {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .order_footer {
    width: 100%;
    max-height: 100%;
    border-top: px-para-rem(1px) solid #ffb74d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: px-para-rem(10px);
    box-sizing: border-box;
  }

  .order_total {
    font-size: px-para-rem(19px);
    font-weight: bold;

    @include laptop {
      font-size: px-para-rem(18px);
    }
  }
    
  .order_buttons {
    display: flex;
    gap: px-para-rem(10px);
  }

  .buttons_default {
    height: px-para-rem(37px);
    width: px-para-rem(174px);
    border-radius: px-para-rem(13px);
    font-size: px-para-rem(16px);
    color: oklch(1 0 0);

    &:hover {
      box-shadow: unset;
      transform: unset;
    }

    @include laptop {
      height: px-para-rem(30px);
      width: px-para-rem(120px);
      font-size: px-para-rem(14px);
    }



  }
  
}