@use '@stylesFunction/mixins' as *;
@use "@stylesFunction/index" as *;

$testesAtivos: false;


.main_container {
    //background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;


    .content {
        display: flex;
        flex-direction: column;
        background-color: lawngreen;
        width: 70%;
        height: 100%;
    }

}