@use '@stylesFunction/mixins' as *;
@use "@stylesFunction/index" as *;

$testesAtivos: false;

.main_container {
    background-color: lab(100 0 -0.03);
    width: 30vw;
    display: flex;
    flex-direction: column;

    @include mobile {
        width: 86vw;
        border-radius: px-para-rem(10px);
    }

    .header_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: px-para-rem(10px) px-para-rem(20px);
    }

    .infos_container {
        width: 90%;

        @include mobile {
            width: 86%;
        }

    }

    .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: px-para-rem(18px);
    }
    .observation {
        @extend .title;    
        font-size: px-para-rem(17px);
    }

    .content_container {
        height: alturaResponsivaViewport(25);
        border-bottom: px-para-rem(2px) solid oklch(0.8 0 0);
        border-top: px-para-rem(2px) solid oklch(0.8 0 0);
        padding: px-para-rem(13px);
        box-sizing: border-box;


        @include custom-scrollbar;


        @include mobile {
            @include custom-scrollbar(unset);
            overflow: auto;
        }
    }

    .buttons_container {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        overflow: hidden;
        padding: px-para-rem(13px);
        box-sizing: border-box;

        @include mobile {
            padding: px-para-rem(10px);
            justify-content: center;
        }

    }


    .buttons_default {
        height: px-para-rem(31px);
        width: px-para-rem(154px);
        border-radius: px-para-rem(13px);
        font-size: px-para-rem(16px);

        @include laptop {
            font-size: px-para-rem(14.7px);

        }

        @include mobile {
            height: px-para-rem(35px);
            width: px-para-rem(134px);
            font-size: unset;
            font-size: px-para-rem(14px);
        }

        &:hover {
            box-shadow: unset;
            transform: unset;
        }



    }
}