@use '@stylesFunction/mixins' as *;
@use "@stylesFunction/index" as *;

$testesAtivos: false;

.main_container {
    // Deve fazer o calculo do tamanho da tela
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: px-para-rem(10);
    border-top: px-para-rem(5px) solid oklch(0.92 0.19 101.41 / 1.0);

    .title {
        color: white;
        font-size: px-para-rem(24);
        font-weight: 700;
        text-align: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: px-para-rem(5px);
    }

    .contact_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: px-para-rem(5px);

        @include mobile {
            flex-direction: column;
        }

    }


    .text_content {
        color: white;
        font-size: px-para-rem(18);
    }

    .copyright {
        font-size: px-para-rem(14);
        text-align: center;
    }

}